body {
    background-color: var(--bg-color);
    background-image: url("../../pictures/background/background_v1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}