@keyframes AnimationLightSelection {
    0% {
        box-shadow: 0.45px 0px 0.45px 0.45px rgba(69, 104, 211, 0.5), 
                    0.45px 0px 0.45px 0.45px rgba(69, 104, 211, 0.3), 
                    0.45px 0px 0.45px 0.45px rgba(69, 104, 211, 0.2);
    }
    25% {
        box-shadow: 2.1px 0px 1.7px 1.1px rgba(69, 104, 211, 0.5), 
                    2.6px 0px 2.95px 1.7px rgba(69, 104, 211, 0.3), 
                    3.1px 0px 4.2px 2.3px rgba(69, 104, 211, 0.2);
    }
    50% {
        box-shadow: 4.1px 0px 1.7px 1.7px rgba(69, 104, 211, 0.5), 
                    5.1px 0px 5.45px 2.95px rgba(69, 104, 211, 0.3), 
                    6.1px 0px 7.95px 4.2px rgba(69, 104, 211, 0.2);
    }
    75% {
        box-shadow: 2.1px 0px 1.7px 1.1px rgba(69, 104, 211, 0.5), 
                    2.6px 0px 2.95px 1.7px rgba(69, 104, 211, 0.3), 
                    3.1px 0px 4.2px 2.3px rgba(69, 104, 211, 0.2);
    }
    100% {
        box-shadow: 0.45px 0px 0.45px 0.45px rgba(69, 104, 211, 0.5), 
                    0.45px 0px 0.45px 0.45px rgba(69, 104, 211, 0.3), 
                    0.45px 0px 0.45px 0.45px rgba(69, 104, 211, 0.2);
    }
}