body::before {
    content: "";
    position: absolute;
    top: -3%;
    left: -3%;
    right: -3%;
    bottom: -3%;

    z-index: -1;

    background: linear-gradient(
        90deg,
        transparent,
        rgba(5, 49, 75, 0.089),
        rgba(88, 7, 7, 0.089),
        transparent
    );

    background-size: 300% 300%;
    animation: neonFlow 2s linear infinite;
}

/* Свечение */
body::after {
    content: "";
    position: absolute;
    inset: -6px;
    z-index: -2;

    background: rgba(121, 11, 121, 0.007);
    filter: blur(8px);
    animation: neonGlow 1.5s infinite ease-in-out;
}

@keyframes neonFlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

/* Пульсация свечения */
@keyframes neonGlow {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}