.attention{
    animation: lightGlowAttention 3s infinite ease-in-out;
}

@keyframes lightGlowAttention {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(204, 0, 255, 0.5), 
                    0px 0px 0px 0px rgba(204, 0, 255, 0.3), 
                    0px 0px 0px 0px rgba(204, 0, 255, 0.2);
    }
    5% {
        box-shadow: 0px 0px 0.125px 0.0625px rgba(204, 0, 255, 0.5), 
                    0px 0px 0.625px 0.125px rgba(204, 0, 255, 0.3), 
                    0px 0px 0.9375px 0.46875px rgba(204, 0, 255, 0.2);
    }
    10%{
        box-shadow: 0px 0px 0.375px 0.0875px rgba(204, 0, 255, 0.5), 
                    0px 0px 0.875px 0.25px rgba(204, 0, 255, 0.3), 
                    0px 0px 1px 0.5px rgba(204, 0, 255, 0.2);
    }
    15% {
        box-shadow: 0px 0px 0.625px 0.125px rgba(204, 0, 255, 0.5), 
                    0px 0px 1.25px 0.625px rgba(204, 0, 255, 0.3), 
                    0px 0px 1.875px 0.9375px rgba(204, 0, 255, 0.2);
    }
    20% {
        box-shadow: 0px 0px 0.75px 0.375px rgba(204, 0, 255, 0.5), 
                    0px 0px 1.75px 0.75px rgba(204, 0, 255, 0.3), 
                    0px 0px 2.5px 1.25px rgba(204, 0, 255, 0.2);
    }
    25% {
        box-shadow: 0px 0px 1.25px 0.625px rgba(204, 0, 255, 0.5), 
                    0px 0px 2.5px 1.25px rgba(204, 0, 255, 0.3), 
                    0px 0px 3.75px 1.875px rgba(204, 0, 255, 0.2);
    }
    30% {
        box-shadow: 0px 0px 1.375px 0.675px rgba(204, 0, 255, 0.5), 
                    0px 0px 2.875px 1.425px rgba(204, 0, 255, 0.3), 
                    0px 0px 4px 1.975px rgba(204, 0, 255, 0.2);
    }
    35% {
        box-shadow: 0px 0px 1.5px 0.8px rgba(204, 0, 255, 0.5), 
                    0px 0px 3px 1.55px rgba(204, 0, 255, 0.3), 
                    0px 0px 4.25px 2.15px rgba(204, 0, 255, 0.2);
    }
    40% {
        box-shadow: 0px 0px 1.85px 0.925px rgba(204, 0, 255, 0.5), 
                    0px 0px 3.55px 1.725px rgba(204, 0, 255, 0.3), 
                    0px 0px 5.2px 2.9px rgba(204, 0, 255, 0.2);
    }
    45% {
        box-shadow: 0px 0px 2.175px 1.125px rgba(204, 0, 255, 0.5), 
                    0px 0px 4.625px 2.225px rgba(204, 0, 255, 0.3), 
                    0px 0px 7.15px 3.475px rgba(204, 0, 255, 0.2);
    }
    50% {
        box-shadow: 0px 0px 1.25px 1.25px rgba(204, 0, 255, 0.5), 
                    0px 0px 5px 2.5px rgba(204, 0, 255, 0.3), 
                    0px 0px 7.5px 3.75px rgba(204, 0, 255, 0.2);
    }
    55% {
        box-shadow: 0px 0px 2.175px 1.125px rgba(204, 0, 255, 0.5), 
                    0px 0px 4.625px 2.225px rgba(204, 0, 255, 0.3), 
                    0px 0px 7.15px 3.475px rgba(204, 0, 255, 0.2);
    }
    60% {
        box-shadow: 0px 0px 1.85px 0.925px rgba(204, 0, 255, 0.5), 
                    0px 0px 3.55px 1.725px rgba(204, 0, 255, 0.3), 
                    0px 0px 5.2px 2.9px rgba(204, 0, 255, 0.2);
    }
    65% {
        box-shadow: 0px 0px 1.5px 0.8px rgba(204, 0, 255, 0.5), 
                    0px 0px 3px 1.55px rgba(204, 0, 255, 0.3), 
                    0px 0px 4.25px 2.15px rgba(204, 0, 255, 0.2);
    }
    70% {
        box-shadow: 0px 0px 1.375px 0.675px rgba(204, 0, 255, 0.5), 
                    0px 0px 2.875px 1.425px rgba(204, 0, 255, 0.3), 
                    0px 0px 4px 1.975px rgba(204, 0, 255, 0.2);
    }
    75% {
        box-shadow: 0px 0px 1.25px 0.625px rgba(204, 0, 255, 0.5), 
                    0px 0px 2.5px 1.25px rgba(204, 0, 255, 0.3), 
                    0px 0px 3.75px 1.875px rgba(204, 0, 255, 0.2);
    }
    80% {
        box-shadow: 0px 0px 0.75px 0.375px rgba(204, 0, 255, 0.5), 
                    0px 0px 1.75px 0.75px rgba(204, 0, 255, 0.3), 
                    0px 0px 2.5px 1.25px rgba(204, 0, 255, 0.2);
    }
    85% {
        box-shadow: 0px 0px 0.625px 0.125px rgba(204, 0, 255, 0.5), 
                    0px 0px 1.25px 0.625px rgba(204, 0, 255, 0.3), 
                    0px 0px 1.875px 0.9375px rgba(204, 0, 255, 0.2);
    }
    90%{
        box-shadow: 0px 0px 0.375px 0.0875px rgba(204, 0, 255, 0.5), 
                    0px 0px 0.875px 0.25px rgba(204, 0, 255, 0.3), 
                    0px 0px 1px 0.5px rgba(204, 0, 255, 0.2);
    }
    95% {
        box-shadow: 0px 0px 0.125px 0.0625px rgba(204, 0, 255, 0.5), 
                    0px 0px 0.625px 0.125px rgba(204, 0, 255, 0.3), 
                    0px 0px 0.9375px 0.46875px rgba(204, 0, 255, 0.2);
    }
    100% {
        box-shadow: 0px 0px 0px 0px rgba(204, 0, 255, 0.5), 
                    0px 0px 0px 0px rgba(204, 0, 255, 0.3), 
                    0px 0px 0px 0px rgba(204, 0, 255, 0.2);
    }
}