.button-vision-password-general{
    border-color: var(--bdr-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    color: var(--text-color);
}

.button-vision-password-general:hover{
    color: var(--focus-and-hover-text-color);
    border-color: var(--focus-and-hover-bdr-color);
    animation: var(--focus-and-hover-animation);
}

.button-vision-password-general:active{
    color: var(--active-text-color);
    background-color: var(--active-bg-color);
    border-color: var(--active-bdr-color);
    animation: var(--active-animation);
}

.button-not-vision-password{
    background-image: var(--bvp-bg-image-not-vision);
}

.button-not-vision-password:hover{
    background-image: var(--bvp-bg-image-not-vision-focus-and-hover);
}

.button-not-vision-password:active{
    background-image: var(--bvp-bg-image-not-vision-action);
}

.button-vision-password{
    background-image: var(--bvp-bg-image-vision);
}

.button-vision-password:hover{
    background-image: var(--bvp-bg-image-vision-focus-and-hover);
}

.button-vision-password:active{
    background-image: var(--bvp-bg-image-vision-action);
}