:root {

    --bg-color: rgb(17, 17, 17);
    --bdr-color: rgb(204, 0, 255);
    --text-color: rgb(204, 0, 255);
    --placeholder-color: rgb(123, 8, 151);

    --focus-and-hover-text-color:  rgb(255, 251, 0);
    --focus-and-hover-bdr-color: rgb(255, 196, 0);
    --focus-and-hover-placeholder-color: rgb(255, 238, 0);
    --focus-and-hover-animation: lightGlowFocus 3s infinite ease-in-out;

    --active-text-color: rgb(0, 0, 0);
    --active-bg-color: rgb(255, 238, 0);
    --active-bdr-color: rgb(255, 196, 0);
    --active-animation: lightGlowFocus 3s infinite ease-in-out;

    --select-button-translate-color: rgb(69, 104, 211);
    --select-button-translate-bdr-color: rgb(69, 104, 211);
    --select-button-translate-animation: AnimationLightSelection 2.5s infinite ease-in-out;

    --bvp-bg-image-not-vision: url("../../pictures/icon/Vision/NightTheme/NotVision/not-vision-no-select.png");
    --bvp-bg-image-not-vision-focus-and-hover: url("../../pictures/icon/Vision/NightTheme/NotVision/not-vision-select.png");
    --bvp-bg-image-not-vision-action: url("../../pictures/icon/Vision/NightTheme/NotVision/not-vision-click.png");

    --bvp-bg-image-vision: url("../../pictures/icon/Vision/NightTheme/Vision/vision-no-select.png");
    --bvp-bg-image-vision-focus-and-hover: url("../../pictures/icon/Vision/NightTheme/Vision/vision-select.png");
    --bvp-bg-image-vision-action: url("../../pictures/icon/Vision/NightTheme/Vision/vision-click.png");

    --button-theme-bg-image-light-no-select: url("../../pictures/icon/Theme/Light/Light-no-select.png");
    --button-theme-bg-image-light-select: url("../../pictures/icon/Theme/Light/Light-select.png");
    --button-theme-bg-image-light-click: url("../../pictures/icon/Theme/Light/Light-click.png");

    /*for index*/

    --bg-color-index: rgb(19, 19, 19);
    --text-color-index: rgb(204, 0, 255);
    --header-bg-color: rgb(36, 3, 44);
    --header-text-color: rgb(204, 0, 255);
    --footer-bg-color: rgb(36, 3, 44);
    --footer-text-color: rgb(183, 0, 255);

    --bg-none-active-button-exit: rgb(182, 134, 1);
    --bg-focus-and-hover-button-exit-color: rgb(255, 238, 0);

    --btn-secondary-bg-color: rgb(17, 17, 17);
    --btn-secondary-text-color: rgb(172, 37, 235);
    --btn-secondary-bdr-color: rgb(173, 26, 192);

    --btn-secondary-bg-hover-color: rgb(46, 1, 59);

    --bg1-hero-color: rgb(43, 24, 48);
    --bg2-hero-color: rgb(88, 1, 110);

    --bg-hero-card-color: rgb(114, 0, 104);

    --hero-card-text-color-h3: rgb(255, 153, 0);
    --hero-card-text-color-ul: rgb(255, 187, 0);

    --section-title-text-color: rgb(162, 0, 255);
    --section-subtitle-text-color: rgb(153, 0, 255);

    --bg-card-index-color: rgb(75, 0, 94);
    --bg-ls-index-color: rgb(75, 0, 94);

}

.light-theme {

    --bg-color: rgb(254, 255, 195);
    --bdr-color: rgb(128, 8, 88);
    --text-color: rgb(128, 8, 88);
    --placeholder-color: rgb(88, 17, 65);

    --focus-and-hover-text-color: rgb(0, 153, 255);
    --focus-and-hover-bdr-color: rgb(0, 225, 255);
    --focus-and-hover-placeholder-color: rgb(0, 204, 255);
    --focus-and-hover-animation: lightGlowFocusLightTheme 3s infinite ease-in-out;

    --active-text-color: rgb(0, 0, 0);
    --active-bg-color: rgb(0, 225, 255);
    --active-bdr-color: rgb(0, 204, 255);
    --active-animation: lightGlowFocusLightTheme 3s infinite ease-in-out;

    --select-button-translate-color: rgb(211, 166, 69);
    --select-button-translate-bdr-color: rgb(211, 161, 69);
    --select-button-translate-animation: AnimationLightSelectionLightTheme 2.5s infinite ease-in-out;

    --bvp-bg-image-not-vision: url("../../pictures/icon/Vision/LightTheme/NotVision/not-vision-no-select.png");
    --bvp-bg-image-not-vision-focus-and-hover: url("../../pictures/icon/Vision/LightTheme/NotVision/not-vision-select.png");
    --bvp-bg-image-not-vision-action: url("../../pictures/icon/Vision/LightTheme/NotVision/not-vision-click.png");

    --bvp-bg-image-vision: url("../../pictures/icon/Vision/LightTheme/Vision/vision-no-select.png");
    --bvp-bg-image-vision-focus-and-hover: url("../../pictures/icon/Vision/LightTheme/Vision/vision-select.png");
    --bvp-bg-image-vision-action: url("../../pictures/icon/Vision/LightTheme/Vision/vision-click.png");

    --button-theme-bg-image-light-no-select: url("../../pictures/icon/Theme/Night/Night-no-select.png");
    --button-theme-bg-image-light-select: url("../../pictures/icon/Theme/Night/Night-select.png");
    --button-theme-bg-image-light-click: url("../../pictures/icon/Theme/Night/Night-click.png");

    /*for index*/

    --bg-color-index: rgb(227, 228, 176);
    --text-color-index: rgb(123, 255, 0);
    --header-bg-color: rgb(59, 4, 34);
    --header-text-color: rgb(255, 0, 191);
    --footer-bg-color: rgb(59, 4, 34);
    --footer-text-color: rgb(255, 0, 191);

    --bg-none-active-button-exit: rgb(1, 182, 182);
    --bg-focus-and-hover-button-exit-color: rgb(0, 255, 255);

    --btn-secondary-bg-color: rgb(178, 179, 140);
    --btn-secondary-text-color: rgb(59, 4, 34);
    --btn-secondary-bdr-color: rgb(62, 20, 102);

    --btn-secondary-bg-hover-color: rgb(48, 48, 41);

    --bg1-hero-color: rgb(104, 52, 117);
    --bg2-hero-color: rgb(227, 113, 255);

    --bg-hero-card-color: rgb(87, 0, 168);

    --hero-card-text-color-h3: rgb(251, 255, 0);
    --hero-card-text-color-ul: rgb(208, 255, 0);

    --section-title-text-color: rgb(255, 0, 234);
    --section-subtitle-text-color: rgb(255, 0, 140);

    --bg-card-index-color: rgb(151, 0, 189);
    --bg-ls-index-color: rgb(152, 0, 190);

}