/*
Для светлой темы:
rgb(66, 0, 96)
*/
html, body {
    overflow: hidden;
}

.block-form{
    border-radius: 20px;
    border-style: double;
    border-color: var(--bdr-color);
    border-width: 5px;

    width: 400px;

    margin-left: 36.5%;

    background-color: var(--bg-color);
}

/*

    background-color: rgb(17, 17, 17);

    width: 25.8231%;
    height: 53.5475%;

    width: 400px;
    height: 400px;
    1549x747

    margin-left: 36.5%;
    margin-top: 10%;

    
    margin-left: 560px;
    margin-top: 165px;
    
}*/

.block-form input{
    margin-top: 10px;

    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;

    width: 300px;

    background-color: var(--bg-color);

    /*caret-color: rgb(255, 251, 0);*/
    color: var(--text-color);

    border-color: var(--bdr-color);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

.block-form input::placeholder{
    color: var(--placeholder-color);
    text-align: center;
}

.block-form input:focus{
    outline: none;

    border-color: var(--focus-and-hover-bdr-color);
    color: var(--focus-and-hover-text-color);

    animation: var(--focus-and-hover-animation);
}

.block-form input:focus::placeholder{
    color: var(--focus-and-hover-placeholder-color);
}

.block-form input:hover{
    outline: none;

    border-color: var(--focus-and-hover-bdr-color);
    color: var(--focus-and-hover-text-color);

    animation: var(--focus-and-hover-animation);
}

.block-form input:hover::placeholder{
    color: var(--focus-and-hover-placeholder-color);
}

.title-status{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.block-form form div{
    font-size: 20px;

    margin-top: 40px;
    margin-left: 45px;
}